rsserpent==0.1.2
rsserpent-plugin-bilibili @ git+https://github.com/RSSerpent/rsserpent-plugin-bilibili.git@b29dd6ab9c56c9c4c6c1f8cbb790099fb2fb89f8
rsserpent-plugin-caa @ git+https://github.com/wuzhongyi1105/rsserpent-plugin-caa.git
